@import "../../styles/main.scss";

.questions {
    padding-top: toRem(122);
    padding-left: toRem(215);
    padding-right: toRem(101);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);

    @include mobile {
        padding-top: toRem(60);
        padding-left: toRem(0);
        padding-right: toRem(0);
    }


    .question-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        .question-content {
            &__header {
                margin-bottom: toRem(16);
            }

            &__paragraph {
                margin-bottom: toRem(68);
                width: toRem(342);

                @include mobile {
                    width: toRemM(294);
                    text-align: center;
                    margin-bottom: toRemM(45.69)
                }
            }

            &__info {
                &__container {
                    width: toRem(427);
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: toRem(13);
                    border-bottom: 1px solid $green;


                    @include mobile {
                        padding-bottom: toRem(0);
                        align-items: last baseline;
                        width: toRem(294);
                    }
                }
            }
        }

        .question-image {
            width: toRem(741);
            height: toRem(741);
            margin-bottom: toRem(25);

            @include mobile {
                width: toRem(327);
                height: toRem(327);
                margin-top: toRemM(86);
                margin-bottom: toRem(49);
            }
        }
    }
}