// colors 
$primary: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);
$secondary: #150E28;
$titary: #903AFF;
$puple: #903AFF;
$white: #ffffff;
$green: #D434FE;

// fonts 
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Clash Display', sans-serif;
$number-font:  'Unica One', cursive;


$default: calc(100vw / 1440 * 16);