@import "../../styles/main.scss";

.navbar {
    display: flex;
    width: 100%;
    padding: toRem(67) toRem(128) toRem(30);
    background-color: transparent;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        padding: toRemM(34) toRemM(48) toRemM(21) toRemM(0);

    }

    .logo {
        font-size: toRem(36);
        font-family: $secondary-font;
        font-weight: 700;

        @include mobile {
            font-size: toRemM(20);
            margin-left: toRem(48);
        }
    }

    .nav-right {
        display: flex;
        align-items: center;
        column-gap: 11.5rem;

        @include mobile {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            padding-left: 5rem;
            width: 100vw;
            top: 0;
            z-index: 11;
            height: toRem(492);
            border-radius: 8px;
            transition: all .5s ease-in-out;
            background: #150E28;
        }

        .close {
            display: none;
            @include mobile{
                display: block;
                position: absolute;
                top: 3rem;
                right: 4rem;
            }
        }

        &-items {
            display: flex;
            column-gap: 5rem;

            @include mobile {
                flex-direction: column;
            }

            .nav-links {
                color: #FFF;
                font-family: $main-font;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                @include mobile {
                    margin-bottom: toRemM(30);
                }
            }
        }
    }
}

.hambuger {
    display: none;
    @include mobile{
        display: flex;
        align-self: flex-end;
        width: toRemM(19);
        height: toRemM(14);
        flex-shrink: 0;
        display: block;
    }
    
}


.nav-line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.18);
}



.active-link {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, #903AFF 3.08%, #FF26B9 93.85%);
    ;
}

.activate-btn {
    background-color: none;
    border-radius: 4px;
    border: 2px solid #9A39FF;
}