@import "../../styles/main.scss";

.rules {
    padding-left: toRem(181);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;

    .star-5 {
        width: toRem(26);
        height: toRem(32);
        position: absolute;
        top: toRem(405);
        left: toRem(741);
    }
    .star6 {
        width: toRem(26);
        height: toRem(32);
        position: absolute;
        top: toRem(116);
        left: toRem(439);
    }

    .rules-wrapper {
        display: flex;
        column-gap: toRem(48);

        .rules-content {
            &__header{
                margin-top: toRem(138);
            }
            .rules-paragraph {
                margin-top: toRem(16);
                width: toRem(533);
            }
        }

        .rules-image {
            width: toRem(664);
            height: toRem(664);
        }
    }
}