@import "../abstracts/variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&amp;display=swap");
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    background: #150E28;
    font-family: $main-font;
    color: $white;
}

html {
    font-size: 0.694vw;
    @include mobile{
        font-size: 2.66vw;
    }
}


